<p-sidebar [(visible)]="isSidebarVisible" [position]="'right'" [style]="{width: '250px'}" [baseZIndex]="10000">
    <a routerLink="/">Home</a><br>
    <a routerLink="/wind-farms">Wind farms</a>
</p-sidebar>

<div class="app-container">
    <!-- Header -->
    <header class="app-header">
        <div class="header-content">
            <h1>Wind Farms Application</h1>
            <p-button severity="secondary" icon="pi pi-bars" (onClick)="toggleSidebar()"></p-button>
        </div>
    </header>

    <!-- Main Layout (Content + Sidebar) -->
    <div class="main-layout">
        <!-- Content Area -->
        <div class="app-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
