<div class="home-container">
    <p-card [style]="{ width: '40vw', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="assets/images/cover-1.png" width="100%" height="800px">
        </ng-template>
        <ng-template #title> Onshore Wind Farms</ng-template>
        <p>
            Onshore wind farms are located on land, where wind turbines harness natural wind energy to generate
            electricity. These farms contribute to renewable energy production, helping reduce carbon emissions and
            providing sustainable power for communities.
        </p>
    </p-card>
    <p-card [style]="{ width: '40vw', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="../../../assets/images/cover-2.jpg" width="100%" height="800px">
        </ng-template>
        <ng-template #title> Offshore Wind Farms</ng-template>
        <p>
            Offshore wind farms are located in bodies of water, typically near coastlines. With higher and more
            consistent winds, these farms can generate significant amounts of clean energy, playing a key role in the
            transition to sustainable power sources.
        </p>

    </p-card>
</div>
