/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:root {
    --primary-color: #36a1b0;
    --p-tabs-tab-active-color: var(--primary-color) !important;
    --p-tabs-tab-active-border-color: var(--primary-color) !important;
    --p-button-primary-background: var(--primary-color) !important;
    --p-button-primary-hover-background: var(--primary-color) !important;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

